[submodule "Assets/Framework"]
	path = Assets/Framework
	url = https://github.com/fujisheng/FFramework.git
[submodule "Assets/Framework.IL"]
	path = Assets/Framework.IL
	url = https://github.com/fujisheng/FFramework.ILRuntime.git
